body {
  background: #bbdef0;
}

.container {
  height: 90vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  background: #2c3d50;
}

.tile {
  border: 4px solid #2c3d50;
  background: #33495d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: .7s;
}

.tile:hover {
  transition: .4s;
  background: #415669;
}

.tile--winning {
  background-color: #7c9eb2;
  /* background-color: #6EEB83; */
  border: 4px solid #2c3d50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.visible {
  text-align: center;
}

.hidden {
  display: none;
}

.resetButton {
  border: none;
  background: #e74d3d;
  color: #fff;
  width: 300px;
  font-size: 1.7em;
  padding: 0.3em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
  transition: .7s;
}
.resetButton:hover {
  background: #ec6657;
  transition: .4s;
}

.announcement {
  border: none;
  background: #f1c30f;
  color: #fff;
  width: 300px;
  font-size: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.7em;
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 3em;
}
