
.container{
  margin: 0 auto;
  text-align: center;
}
.boardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.board{
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}

.tile{
  border: 4px solid #2C3D50;
  background: #33495D;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.visible{
  text-align: center;
}

.hidden{
  display: none;
}

.resetButton{
  border: none;
  background: #E74D3D;
  color: #fff;
  width: 300px;
  font-size: 1.7em;
  padding: .3em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}



